{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            {#Logo Citya#}
            <img src="{{ asset('img/logoCitya.png') }}" class="logo">
        </div>
        <div class="row">
            <div class="col-12">
                {#Titre#}
                <h1 class="homeH1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloremque eius
                    excepturi</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-4">
                {#Image Accueil#}
                <img src="{{ asset('img/door.jpg') }}" class="img-fluid door">
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10">
                <div class="homeBoxText">
                    {#Texte Accueil#}
                    <p class="homeText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consequuntur
                        deserunt doloremque eaque esse iusto laboriosam officiis pariatur quisquam. Accusamus atque
                        autem consequatur eligendi iste laboriosam possimus, tempora voluptas. Ex. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Aliquid, consequuntur
                        deserunt doloremque eaque esse iusto laboriosam officiis pariatur quisquam. Accusamus atque
                        autem consequatur eligendi iste laboriosam possimus, tempora voluptas. Ex.</p>
                </div>
            </div>
        </div>


{% endblock %}
